.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.content > .left {
    width: 200px;
    height: 100%;
    background: #272424;
}
.content > .left > .hearder {
    width: 100%;
    height: 64px;
    background: #ED6D00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content > .right {
    width: calc(100% - 200px);
}
.content > .right > .hearder {
    width: 100%;
    height: 64px;
    background: #272424;
}
.content >.right  > .body {
    background: #F4F4F4;
    height: auto;
}

