.storeManager {
    width: 100%;
    height: auto;
    background: #F4F4F4;
}
.storeManager-search {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    background: #FFFFFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
}
.storeManager-search > .items-center
{
    /* 正文normal */
    font-family: SourceHanSansCN-Normal !important;
    font-size: 13px;
    font-weight: 350;
    line-height: 16px;
    letter-spacing: 0px;
    color: #4E4A4A;
}

.storeManager > .storeManager-body {
    width: 95%;
    margin: 15px auto 0;
    background: #FFFFFF;
}
.storeManager > .storeManager-body > .storeManager-body-content {
    width: 95%;
    margin: 20px auto 0;
}
